# jupyter things
autopep8
black
cognitojwt # Used for user authentication
jupyter
jupyterlab
jupyterlab-code-formatter
jupyterlab-code-snippets
jupyterlab-geojson
jupyterlab-git
jupyterlab-iframe
jupyterlab-widgets
jupyterlab-topbar
jupyterlab-logout
jupyterlab-system-monitor
jupyterhub
jupytext
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
jupyter-resource-usage
jupyter-server
jupyter-server-proxy
jupyter-ui-poll
ipycanvas
ipyevents
ipyfilechooser
ipyleaflet
ipython
ipywidgets
isort
line-profiler
nbdime
nbgitpuller
# nbresuse==0.4.0
mypy
prompt-toolkit # because of line_profiler/ipython
nbconvert # because of jupyter_contrib_nbextensions
nbformat
nbval
sidecar
yapf
jedi
parso

# jupyter + matplotlib
# matplotlib itself is in requirements.txt as it's pulled in by other libs there
folium
ipympl
graphviz
plotly
pydotplus

# jupyter + bokeh
cartopy
dask-labextension
datashader
geoviews
holoviews
jupyter-bokeh
panel
pyviz_comms

# jupyterhub + dask
dask-gateway
dask-gateway-server

# jupyterlab + language packages
jupyterlab-language-pack-fr-FR
